<h1>Listing genres</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @genres.each do |genre| %>
  <tr>
    <td><%=h genre.name %></td>
    <td><%= link_to 'Show', genre %></td>
    <td><%= link_to 'Movies', genre_movies_path(genre) %></td>
  </tr>
<% end %>
</table>

