<h1>Average grosses</h1>
<h2><%=h @group.name %></h2>
<table>
  <tr>
    <th>Period</th>
    <th>Average Gross</th>
  </tr>

<% @results.each_with_index do |result, i| %>
  <tr>
    <td><%=h i + 1 %></td>
    <td><%=h number_to_currency(result[:gross], :precision => 0) %></td>
  </tr>
<% end %>
</table>

<br />

