
<%= image_tag(url_for(movie_grosses_path(@movie, :format => 'line')), :alt => "Loading plot") %>

<div class="to_plot">
  <%= link_to 'Show results as a table', movie_results_path(@movie) %>
</div>

